body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(235, 178, 235)
}

@media(min-width:586px)
{
    .box1
    {
        height: 15px;
        width: 650px;
        background-color: rgb(113, 2, 154);
        margin:auto;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .box2
    {
        height: 200px;
        width: 650px;
        margin:auto;
        background-color: white;
        border: 1px solid lightgray;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .box3
    {
        height: 160px;
        width: 650px;
        margin:20px auto;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 7px;
    }
    .box4
    {
        height: 140px;
        width: 650px;
        margin:20px auto;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 7px;
    }
    .box5
    {
        height: 180px;
        width: 650px;
        margin:20px auto;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 7px;
    }
    .a
    {
        padding-left: 10px;
        font-size: 25px;
        font-weight: 500;
    }
    .b
    {
        padding-left: 10px;
        font-family: 300;
    }
    .c
    {
        padding-left: 10px;
        color: red;
        margin-top: -10px;
    }
    .d
    {
        padding-left: 10px;
        font-size: 22px;
        font-weight: 400;
    }
    .e
    {
        font-size: 14px;
        padding-left: 10px;
        margin-top: -15px;
        font-weight: 350px;
    }
    .f
    {
        font-size: 17px;
        margin-left: 10px;
        margin-top: 15px;
        font-weight: 350px;
        border-top: none;
        border-left: none;
        border-right:none;
        border-bottom-color:lightgray;
        width: 370px;
        height: 30px;
    }
    .g
    {
        color: red;
        font-size: 20px;
        font-weight:350 ;
    }
    .h
    {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .i
    {
        color: gray;
        font-size: 20px;
        font-weight:350 ;
    }
    .btn
    {
        height: 30px;
        width: 90px;
        border: none;
        border-radius: 5px;
        margin-left: 340px;
        color: white;
        font-size: 15px;
        background-color: darkblue;
        text-align: center;
        padding-top: 6px;
        text-decoration:none;
    }
    .btn1
    {
        color: white;
        text-decoration: none;
    }
    .list
    {
        margin-top: -5px;
        margin-left: -5px;
        font-size: 18px;
    }
    .t
    {
        margin-left: 340px;
        color: gray;
        font-size: 17px;
    }
    .t1
    {
        margin-left: 370px;
        color: gray;
        font-size: 17px;
    }
    .t2
    {
        margin-left: 650px;
        color: gray;
        font-size: 22px;
        font-weight: 500;
    }
    .t3
    {
        color: gray;
        font-size: 22px;
        font-weight: 400;
    }
    .list
    {
        margin-left: 10px;
        font-size: 18px;
        color: gray;
    }
    .flux
    {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .flux1
    {
        display: flex;
        align-items: center;
    }
    .text
    {
        display: flex;
        gap: 5px;
    }
    .t4
    {
        color: gray;
    }
    .t5
    {
        margin-left: 480px;
    }
}

@media(max-width:586px)
{
    .box1
    {
        margin: 30px auto;
        height: 12px;
        width: 320px;
        background-color: rgb(113, 2, 154);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .box2
    {
        height: 150px;
        margin: 30px auto;
        margin-top: -30px;
        align-items: center;
        width: 320px;
        background-color: white;
        border: 1px solid lightgray;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .box3
    {
        height: 160px;
        width: 320px;
        margin:30px auto;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 7px;
    }
    .box4
    {
        height: 140px;
        width: 320px;
        margin:30px auto;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 7px;
    }
    .box5
    {
        height: 180px;
        width: 320px;
        margin:30px auto;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 7px;
    }
    .a
    {
        padding-left: 10px;
        font-size: 25px;
        font-weight: 500;
    }
    .b
    {
        padding-left: 10px;
        font-family: 300;
        font-size: 12px;
    }
    .c
    {
        padding-left: 10px;
        color: red;
        margin-top: -10px;
    }
    .d
    {
        padding-left: 10px;
        font-size: 22px;
        font-weight: 400;
    }
    .e
    {
        font-size: 12px;
        padding-left: 10px;
        margin-top: -15px;
        font-weight: 350px;
    }
    .f
    {
        font-size: 17px;
        margin-left: 10px;
        margin-top: 15px;
        font-weight: 350px;
        border-top: none;
        border-left: none;
        border-right:none;
        border-bottom-color:lightgray;
        width: 220px;
        height: 30px;
    }
    .g
    {
        color: red;
        font-size: 20px;
        font-weight:350 ;
    }
    .h
    {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .i
    {
        color: gray;
        font-size: 20px;
        font-weight:350 ;
    }
    .btn
    {
        height: 30px;
        width: 90px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 15px;
        background-color: darkblue;
        text-align: center;
        margin-left: 30px;
        padding-top: 9px;
        text-decoration:none;
    }
    .btn1
    {
        color: white;
        text-decoration: none;
    }
    .list
    {
        margin-top: -5px;
        margin-left: -5px;
        font-size: 18px;
    }
    .t
    {
        color: gray;
        font-size: 14px;
        margin-left: 40px;
    }
    .t1
    {
        color: gray;
        font-size: 7px;
        margin-left: 20px;
    }
    .t2
    {
        color: gray;
        font-size: 18px;
        font-weight: 500;
        margin-left: 130px;
    }
    .t3
    {
        color: gray;
        font-size: 18px;
        font-weight: 380;
    }
    .list
    {
        margin-left: 10px;
        font-size: 14px;
        color: gray;
    }
    .flux
    {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .flux1
    {
        display: flex;
        align-items: center;
        gap: 150px;
    }
    .text
    {
        display: flex;
        gap: 2px;
        align-items: center;
    }
    .t4
    {
        color: gray;
        font-size: 7px;
    }
    .t5
    {
        margin-top: -7px;
        margin-left: 3px;
    }
}
